.section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Вирівнювання елементів по центру горизонталі */
}

.title {
  text-align: center; /* Вирівнювання тексту по центру */
}
